:root{
    --color1:hsl(257, 40%, 49%);
    --color2:hsl(300, 69%, 71%);
    --poppins:"Poppins", sans-serif;
    --opensans:"Open Sans", sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width:90%;
    margin: 0 auto;
    position: relative;
    background: url("./images/bg-desktop.svg") var(--color1);
    background-size: cover;
    height: 100vh;
    color: whitesmoke;
    @media (max-width: 400px) { 
        background: url("./images/bg-mobile.svg") no-repeat var(--color1);
       
     }
}

header{
    display: flex;
    align-items: center;
    height: 150px;
    @media (max-width: 900px) { 
     height: 130px;   
    }
    img{
        @media (max-width: 900px) { 
            height: 35px;
        }
    } 
}

main{
    flex: 1;
    font-family: var(--poppins);
    display: grid;
    grid-template-columns: 60% 40%;
    @media (max-width: 900px) { 
        display: block;
     }
    img{
        width: 100%;
    }
    div {
        padding: 50px;
        @media (max-width: 900px) { 
            padding: 20px;
         }
        h1{
            font-size: 2.2rem;
            line-height: 1.5;
            @media (max-width: 900px) { 
                font-size: 1.5rem;
                text-align: center;
             }
        }
        p {
            font-family: var(--opensans);
            font-weight: 400;
            font-size: 0.9rem;
            line-height: 1.6;
            color: rgb(209, 209, 209);
            margin: 20px 0;
            @media (max-width: 900px) { 
                text-align: center;
             }
        }
        button {
            padding: 15px 55px;
            border-radius: 30px;
            border: none;
            color: var(--color1);
            box-shadow:2px 4px 13px 0px #222222;
            @media (max-width: 900px) { 
                display: block;
                margin: auto;
             }
            &:hover{
                background: var(--color2);
                color: white;
                cursor: pointer;
            }
        }
    }
}

footer{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    a{  
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        width: 50px;
        border: 1px solid white;
        border-radius: 50%;
        text-decoration: none;
        color: white;
        &:hover{
            color:  rgb(253, 32, 234);
            border:1px solid rgb(253, 32, 234);
        }
    }
    @media (max-width: 900px) { 
        justify-content: center;
       
     }
     
}
